[project]
	description = vim
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pigikyu
[access "refs/for/refs/*"]
	read = group user/pigikyu
	push = group user/pigikyu
	label-Code-Review = -2..+2 group user/pigikyu
	label-Verified = -1..+1 group user/pigikyu
	rebase = group user/pigikyu
	removeReviewer = group user/pigikyu
	submit = group user/pigikyu
[access "refs/heads/*"]
	read = group user/pigikyu
	create = group user/pigikyu
	push = +force group user/pigikyu
	pushMerge = group user/pigikyu
[access "refs/tags/*"]
	push = +force group user/pigikyu
	pushTag = group user/pigikyu
	pushSignedTag = group user/pigikyu
